@model IEnumerable<PMS_PropertyHapa.Models.DTO.AssetDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Assets List</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Assets</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-12 col-lg-10 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">

                        <div class="left-side-header">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2753 2.71436C16.0029 2.71436 19.8363 6.54674 19.8363 11.2753C19.8363 16.0039 16.0029 19.8363 11.2753 19.8363C6.54674 19.8363 2.71436 16.0039 2.71436 11.2753C2.71436 6.54674 6.54674 2.71436 11.2753 2.71436Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8987 18.4878C20.6778 18.4878 21.3092 19.1202 21.3092 19.8983C21.3092 20.6783 20.6778 21.3097 19.8987 21.3097C19.1197 21.3097 18.4873 20.6783 18.4873 19.8983C18.4873 19.1202 19.1197 18.4878 19.8987 18.4878Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <input class="form-control" type="text" placeholder="Search Proprites" aria-label="search" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="right-side-header">
                            <button class="btn btn-primary" type="button">Export to CSV</button>
                        </div>
                    </div>
                    <!-- <div class="card-header">
                      PROPERTIES
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="tableHeaderbg">Properties</th>
                                        <th scope="col" class="tableHeaderbg">Address</th>
                                        <th scope="col" class="tableHeaderbg">Total Monthly Rent</th>
                                        <th scope="col" class="tableHeaderbg">Tenants</th>
                                        <th scope="col" class="tableHeaderbg">Open Maintenance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Table rows -->
                                    <tr>
                                        <td>
                                            <div class="d-flex border-0 gap-2  align-items-center ">
                                                <img class="img-fluid rounded-1 update_img_0" src="~/Dashboard/assets/images/user/2.png" alt="" style="max-width: 50px; height: auto;">
                                                <div class="d-flex flex-column  border-0 ">
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="fw-bold  tableFontSize">9600 Universal</span>
                                                        <span class="fw-bold tableFontSize">Boulevard</span>
                                                    </div>
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="tableFontSize">Unit: 2</span>
                                                        <span class="tableFontSize">Availabilty: 1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tableFontSize">9600 Universal Boulevard Orlando, Florida 32819</td>
                                        <td class="tableFontSize">$0.00</td>
                                        <td class="tableFontSize">4</td>
                                        <td class="tableFontSize">0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex border-0 gap-2  align-items-center ">
                                                <img class="img-fluid rounded-1 update_img_0" src="~/Dashboard/assets/images/user/2.png" alt="" style="max-width: 50px; height: auto;">
                                                <div class="d-flex flex-column  border-0 ">
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="fw-bold  tableFontSize">9600 Universal</span>
                                                        <span class="fw-bold tableFontSize">Boulevard</span>
                                                    </div>
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="tableFontSize">Unit: 2</span>
                                                        <span class="tableFontSize">Availabilty: 1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tableFontSize">9600 Universal Boulevard Orlando, Florida 32819</td>
                                        <td class="tableFontSize">$0.00</td>
                                        <td class="tableFontSize">4</td>
                                        <td class="tableFontSize">0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex border-0 gap-2  align-items-center ">
                                                <img class="img-fluid rounded-1 update_img_0" src="~/Dashboard/assets/images/user/2.png" alt="" style="max-width: 50px; height: auto;">
                                                <div class="d-flex flex-column  border-0 ">
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="fw-bold  tableFontSize">9600 Universal</span>
                                                        <span class="fw-bold tableFontSize">Boulevard</span>
                                                    </div>
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="tableFontSize">Unit: 2</span>
                                                        <span class="tableFontSize">Availabilty: 1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tableFontSize">9600 Universal Boulevard Orlando, Florida 32819</td>
                                        <td class="tableFontSize">$0.00</td>
                                        <td class="tableFontSize">4</td>
                                        <td class="tableFontSize">0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex border-0 gap-2  align-items-center ">
                                                <img class="img-fluid rounded-1 update_img_0" src="~/Dashboard/assets/images/user/2.png" alt="" style="max-width: 50px; height: auto;">
                                                <div class="d-flex flex-column  border-0 ">
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="fw-bold  tableFontSize">9600 Universal</span>
                                                        <span class="fw-bold tableFontSize">Boulevard</span>
                                                    </div>
                                                    <div class="d-flex border-0 flex-column align-items-baseline ">
                                                        <span class="tableFontSize">Unit: 2</span>
                                                        <span class="tableFontSize">Availabilty: 1</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="tableFontSize">9600 Universal Boulevard Orlando, Florida 32819</td>
                                        <td class="tableFontSize">$0.00</td>
                                        <td class="tableFontSize">4</td>
                                        <td class="tableFontSize">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-2">

                <div class="mb-2">
                    <button class="btn btn-info w-100 d-flex border-0 align-items-center " type="button">
                        <div class="plusCircle">
                            +
                        </div>
                        New Property
                    </button>
                </div>
                <!-- Statistics Panels -->

                <div class="">
                    <div class="card bg-primary text-white" style="margin-bottom: 10px !important;">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column border-bottom ">
                                <span>18</span>
                                <span>UNITS</span>

                            </div>
                            <div class="d-flex border-0 ">
                                <p class="card-text">Total <br /> Occupancy</p>
                                <!-- Circle progress -->
                                <div class="circular-progress-container">
                                    <div class="circular-progress-bar" style="--progress: 75;">
                                        <div class="value-container">75%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex border-0 ">
                                <div class="d-flex border-0 flex-column ">
                                    <span class="card-text">Behind In</span>
                                    <p class="card-text">Rent <br /> Payments</p>
                                </div>
                                <!-- Circle progress -->
                                <div class="circular-progress-container">
                                    <div class="circular-progress-bar" style="--progress: 45; --circle-progress-color:#ef5b5b ">
                                        <div class="value-container">45%</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card CardGreen text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>6</span>
                                <span>UNITS With VACANCY</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card CardRed text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>14</span>
                                <span>UNITS With OVERDUE BALANCE</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="card cardInfo text-white">
                        <div class="card-body cardBody">
                            <div class="card-title d-flex flex-column">
                                <span>3</span>
                                <span>UNITS With OPEN MANTAINCEN REQUEST</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Repeat for other statistics -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.contacts-tabs .nav-link ').removeClass('active show');
        $('.contacts-tabs .tab-content .tab-content-child ').removeClass('active show');
        $('.contact-tab-' + @Model?.Take(1).Select(x=>x.AssetId).FirstOrDefault()).addClass('active show');
    });
</script>

