@{
    ViewData["Title"] = "Cancel";
    // Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<style>
    body {
        color: black;
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .cancel-page {
        max-width: 600px;
        text-align: center;
        padding: 2rem;
    }

    .cancel-card {
        background: rgba(255, 255, 255, 0.1);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

        .cancel-card:hover {
            transform: translateY(-10px);
        }

    .cancel-icon {
        font-size: 4rem;
        color: #28a745;
    }

    .btn-custom {
        border: none;
        color: black;
    }

        .btn-custom:hover {
            background-color: #57a1be;
        }

    .lead, .display-4 {
        margin-bottom: 1rem;
    }
</style>
<div class="container cancel-page">
    <div class="card cancel-card">
        <div class="mb-4">
            <i class="bi bi-x-circle cancel-icon"></i>
        </div>
        <h1 class="display-4">Subscription Cancelled</h1>
        <p class="lead">We are sorry to see you go. Your subscription has been cancelled successfully.</p>
        <hr class="my-4">
        <p>If you have any questions or need further assistance, please contact our support team.</p>
        <a class="btn btn-custom btn-lg" href="/" role="button">Home Page</a>
    </div>
</div>
