@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string username = ViewData["Username"] as string;
}

<div class="text-center">
    <h2>Welcome, @username! to Property Happa</h2>
    <p><a href="@Url.Action("Login", "Auth")" class="btn btn-primary">Click here to login to your PMC Portal</a></p>
</div>