@model PMS_PropertyHapa.Models.DTO.LoginRequestDTO
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('.login-form').on('submit', function (e) {
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: "/Auth/Login",
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            debugger
                            localStorage.setItem('userId', response.result.userId); 
                            localStorage.setItem('userName', response.result.userName);
                            if (response.result.organizationName) {
                                localStorage.setItem('organizationName', response.result.organizationName);
                            }
                            if (response.result.organizationLogo) {
                                localStorage.setItem('organizationLogo', response.result.organizationLogo);
                            }
                            if (response.result.primaryColor) {
                                localStorage.setItem('primaryColor', response.result.primaryColor);
                            }
                            if (response.result.secondaryColor) {
                                localStorage.setItem('secondaryColor', response.result.secondaryColor);
                            }
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'success', title: response.message });
                            window.location.href = "/Home/Index"; 
                        } else {
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'error', title: response.message });
                        }
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.responseText || "An unexpected error occurred.";
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'error', title: errorMessage });
                    }
                });
            });
        });

    </script>
}

<form class="theme-form login-form needs-validation" novalidate="" method="post">
    <h4>Login</h4>
    <h6>Welcome back! Log in to your account.</h6>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Email Address</label>
        <div class="input-group">
            <span class="input-group-text"><i class="icon-email"></i></span>
            <input id="Email" name="Email" type="email" class="form-control" placeholder="Email..." required="" />
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <div class="input-group">
            <span class="input-group-text"><i class="icon-lock"></i></span>
            <input id="Password" name="Password" type="password" class="form-control" placeholder="Password..." required="" />
            <div class="show-hide"><span class="show"></span></div>
        </div>
    </div>
    <div class="form-group">
        <div class="icheck-primary">
            <input type="checkbox" id="remember" asp-for="Remember">
            <label class="text-muted" for="remember" style="color:black!important">
                Remember Me
            </label>
            <a class="link" href="/auth/ForgotPassword">Forgot password?</a>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </div>
    <p>Don't have an account?<a class="ms-2" href="/auth/Register">Create Account</a></p>
</form>