@model PMS_PropertyHapa.Models.DTO.LoginRequestDTO
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('.login-form').on('submit', function (e) {
                e.preventDefault();

                var loginData = {
                    Email: $('#Email').val(), 
                    Password: $('#Password').val()
                };

                $.ajax({
                    url: 'https://localhost:7178/api/v1/UsersAuth/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(loginData),
                    success: function (response) {
                        console.log(response);
                        alert("Logged In Successfully");
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Wrong Email or Password"); 
                    }
                });
            });
        });
    </script>
}

<form class="theme-form login-form needs-validation" method="post">
    <h4>Login</h4>
    <h6>Welcome back! Log in to your account.</h6>
    <div class="form-group">
        <label>Email Address</label> 
        <div class="input-group">
            <span class="input-group-text"><i class="icon-email"></i></span>
            <input id="Email" type="email" class="form-control" placeholder="Email..." required="" /> 
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <div class="input-group">
            <span class="input-group-text"><i class="icon-lock"></i></span>
            <input id="Password" type="password" class="form-control" placeholder="Password..." required="" />
            <div class="show-hide"><span class="show"></span></div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <input id="checkbox1" type="checkbox">
            <label class="text-muted" for="checkbox1">Remember password</label>
        </div><a class="link" href="/auth/ForgotPassword">Forgot password?</a>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </div>
    <p>Don't have an account?<a class="ms-2" href="/auth/Register">Create Account</a></p>
</form>
