@{
    ViewData["Title"] = "AssetReports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Asset Reports</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Reports/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Reports</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 project-list">
        <div class="card">
            <div class="row">
                <div class="col-md-12 p-0">
                    <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="units-top-tab" data-bs-toggle="tab" href="#unitsReports" role="tab" aria-controls="unitsReports" aria-selected="false"><i data-feather="info"></i>Units Report</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="unitsReports" role="tabpanel" aria-labelledby="units-top-tab">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="unitsAsset" class="form-label ">Property</label>
                        <select class="form-control select2" multiple id="unitsAsset">
                        </select>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <h3 class="card-title">Untis</h3>
                                <table class="table display" id="unitsReportTable">
                                    <thead>
                                        <tr>
                                            <th>UnitName</th>
                                            <th>Bath</th>
                                            <th>Beds</th>
                                            <th>Rent</th>
                                            <th>Size</th>
                                            <th>Property Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var unitsAssetIdsList = [];

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetProperties", "Communication")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var unitsAssetDropdown = document.getElementById('unitsAsset');
                data.forEach(function (item) {
                    var option = new Option(item.BuildingNo + " - " + item.BuildingName, item.AssetId);
                    unitsAssetDropdown.appendChild(option);
                });
            }
        });

        $("#unitsAsset").on("change", loadUnitsAssetDataTable);

        loadUnitsAssetDataTable();
    });


    function loadUnitsAssetDataTable() {

        if ($.fn.dataTable.isDataTable('#unitsReportTable')) {
            $('#unitsReportTable').DataTable().clear().destroy();
        }
        unitsAssetIdsList = $("#unitsAsset").val();
        objUnitsAssetTable = $("#unitsReportTable").DataTable({
            ajax: {
                url: "/Reports/GetUnitsByAsset",
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    return JSON.stringify({
                        AssetsIds: unitsAssetIdsList
                    });
                },
                dataSrc: "",
                error: function (xhr, error, thrown) {
                    console.error("Error occurred: ", error, thrown);
                    alert("An error occurred while loading the data table: " + error);
                }
            },
            initComplete: function () {

            },
            order: [[0, "asc"]],
            columns: [
                { data: "UnitName" },
                { data: "Bath" },
                { data: "Beds" },
                { data: "Rent" },
                { data: "Size" },
                { data: "Asset" },
            ]
        });
    }


</script>