@{
    ViewData["Title"] = "AssetReports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">


<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Asset Reports</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Reports/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Reports</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 project-list">
        <div class="card">
            <div class="row">
                <div class="col-md-12 p-0">
                    <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="units-top-tab" data-bs-toggle="tab" href="#unitsReports" role="tab" aria-controls="unitsReports" aria-selected="false"><i data-feather="info"></i>Units Report</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="unitsReports" role="tabpanel" aria-labelledby="units-top-tab">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="unitsAsset" class="form-label ">Property</label>
                        <select class="form-control select2" multiple id="unitsAsset">
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#unitsReportOffcanvas" aria-controls="leaseOffcanvas">Filter</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <h3 class="card-title">Untis</h3>
                                <table class="table display" id="unitsReportTable">
                                    <thead>
                                        <tr>
                                            <th>UnitName</th>
                                            <th>Bath</th>
                                            <th>Beds</th>
                                            <th>Rent</th>
                                            <th>Size</th>
                                            <th>Property Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Offcanvas for Units Filters -->
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="unitsReportOffcanvas" aria-labelledby="unitsReportOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 id="leaseOffcanvasLabel">Filter Units Reports</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="col-sm-12 mb-0 font-weight-bold">Property</label>
                <div col-sm-12>
                    <select id="unitsAssetOffcanvas" multiple name="unitsAssetOffcanvas" class="form-control select2"></select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary me-2" type="button" id="applyFilters">Filter</button>
            <button class="btn btn-secondary" type="button" id="clearFilters">Clear</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>


<script>
    var unitsAssetIdsList = [];

    $(document).ready(function () {

        populateDropDowns();

        $("#unitsAsset").on("change", function () {
            var values = $(this).val();
            $('#unitsAssetOffcanvas').val(values).trigger('change.select2');
            applyFilters();
        });
        
        $("#unitsAssetOffcanvas").on("change", function () {
            var values = $(this).val();
            $('#unitsAsset').val(values).trigger('change.select2');
        });

        $("#applyFilters").on("click", function () {
            applyFilters();
            $("#unitsReportOffcanvas").removeClass('show');;
        });

        $("#clearFilters").on("click", function () {
            clearFilters();
            $("#unitsReportOffcanvas").removeClass('show');
        });

        loadUnitsAssetDataTable();
    });

    function populateDropDowns(){
        $.ajax({
            url: '@Url.Action("GetProperties", "Communication")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var unitsAssetDropdown = document.getElementById('unitsAsset');
                data.forEach(function (item) {
                    var option = new Option(item.BuildingNo + " - " + item.BuildingName, item.AssetId);
                    unitsAssetDropdown.appendChild(option);
                });
                
                var unitsAssetOffcanvasDropdown = document.getElementById('unitsAssetOffcanvas');
                data.forEach(function (item) {
                    var option = new Option(item.BuildingNo + " - " + item.BuildingName, item.AssetId);
                    unitsAssetOffcanvasDropdown.appendChild(option);
                });
            }
        });

    }

    function loadUnitsAssetDataTable() {

        if ($.fn.dataTable.isDataTable('#unitsReportTable')) {
            $('#unitsReportTable').DataTable().clear().destroy();
        }
        unitsAssetIdsList = $("#unitsAsset").val();
        objUnitsAssetTable = $("#unitsReportTable").DataTable({
            ajax: {
                url: "/Reports/GetUnitsByAsset",
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    return JSON.stringify({
                        AssetsIds: unitsAssetIdsList
                    });
                },
                dataSrc: "",
                error: function (xhr, error, thrown) {
                    console.error("Error occurred: ", error, thrown);
                    alert("An error occurred while loading the data table: " + error);
                }
            },
            initComplete: function () {

            },
            order: [[0, "asc"]],
            columns: [
                { data: "UnitName" },
                { data: "Bath" },
                { data: "Beds" },
                { data: "Rent" },
                { data: "Size" },
                { data: "Asset" },
            ]
        });
    }

    function applyFilters() {
        propertiesIdsList = $("#unitsAssetOffcanvas").val();

        loadUnitsAssetDataTable();
    }

    function clearFilters() {
        $('#unitsAsset').val('').trigger('change');

        loadUnitsAssetDataTable();
    }

</script>