@{
    ViewData["Title"] = "LandlordReports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Landlord Reports</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Reports/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Reports</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 project-list">
        <div class="card">
            <div class="row">
                <div class="col-md-12 p-0">
                    <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="org-top-tab" data-bs-toggle="tab" href="#orgReports" role="tab" aria-controls="orgReports" aria-selected="false"><i data-feather="info"></i>Orgnaizations Report</a></li>
                        <li class="nav-item"><a class="nav-link" id="asset-top-tab" data-bs-toggle="tab" href="#assetReports" role="tab" aria-controls="assetReports" aria-selected="false"><i data-feather="check-circle"></i>Assets Report</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="orgReports" role="tabpanel" aria-labelledby="org-top-tab">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="orgLandlord" class="form-label ">Landlord</label>
                        <select class="form-control select2" multiple id="orgLandlord">
                        </select>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <h3 class="card-title">Organizations</h3>
                                <table class="table display" id="orgReportTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Discription</th>
                                            <th>Icon</th>
                                            <th>Logo</th>
                                            <th>Website</th>
                                            <th>Landlord Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="assetReports" role="tabpanel" aria-labelledby="asset-top-tab">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="assetLandlord" class="form-label ">Landlord</label>
                        <select class="form-control select2" multiple id="assetLandlord">
                        </select>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h3 class="card-title">Assets</h3>
                            <table class="table display" id="assetReportTable">
                                <thead>
                                    <tr>
                                        <th>Building No</th>
                                        <th>Building Name</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Zipcode</th>
                                        <th>Landlord Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var orgLandlordIdsList = [];
    var assetLandlordIdsList = [];

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetLandlordDll", "Landlord")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var orgLandlordsDropdown = document.getElementById('orgLandlord');
                // orgLandlordsDropdown.innerHTML = ''; // Clear existing options
                data.forEach(function (item) {
                    var option = new Option(item.FirstName + ' ' + item.LastName, item.OwnerId);
                    orgLandlordsDropdown.appendChild(option);
                });
            }
        });
        $.ajax({
            url: '@Url.Action("GetLandlordDll", "Landlord")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var assetLandlordsDropdown = document.getElementById('assetLandlord');
                // orgLandlordsDropdown.innerHTML = ''; // Clear existing options
                data.forEach(function (item) {
                    var option = new Option(item.FirstName + ' ' + item.LastName, item.OwnerId);
                    assetLandlordsDropdown.appendChild(option);
                });
            }
        });
        $("#orgLandlord").on("change", loadOrgLandlordDataTable);
        $("#assetLandlord").on("change", loadAssetLandlordDataTable);

        loadOrgLandlordDataTable();
        loadAssetLandlordDataTable();
    });


    function loadOrgLandlordDataTable() {

        if ($.fn.dataTable.isDataTable('#orgReportTable')) {
            $('#orgReportTable').DataTable().clear().destroy();
        }
        orgLandlordIdsList = $("#orgLandlord").val();
        objOrgTenantTable = $("#orgReportTable").DataTable({
            ajax: {
                url: "/Landlord/GetLandlordOrganization",
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    return JSON.stringify({
                        LandlordIds: orgLandlordIdsList
                    });
                },
                dataSrc: "",
                error: function (xhr, error, thrown) {
                    console.error("Error occurred: ", error, thrown);
                    alert("An error occurred while loading the data table: " + error);
                }
            },
            initComplete: function () {

            },
            order: [[0, "asc"]],
            columns: [
                { data: "OrganizationName" },
                { data: "OrganizationDescription" },
                {
                    data: "OrganizationIcon",
                    render: (data, type, row) => {
                        if (data) {
                            return `<img src="${data}" alt="Image" style="width: 50px; height: auto;" />`;
                        }
                        return '';
                    }
                },
                {
                    data: "OrganizationLogo",
                    render: (data, type, row) => {
                        if (data) {
                            return `<img src="${data}" alt="Image" style="width: 50px; height: auto;" />`;
                        }
                        return '';
                    }
                },
                { data: "Website" },
                {
                    data: null,
                    render: (data, type, row) => {
                        const { FirstName, LastName } = data;
                        return `${FirstName} ${LastName}`;
                    }
                },
            ]
        });
    }

    function loadAssetLandlordDataTable() {
        console.log("loadAssetLandlordDataTable")
        if ($.fn.dataTable.isDataTable('#assetReportTable')) {
            $('#assetReportTable').DataTable().clear().destroy();
        }
        console.log("loadAssetLandlordDataTable")
        assetLandlordIdsList = $("#assetLandlord").val();
        objAssetLandlordTable = $("#assetReportTable").DataTable({
            ajax: {
                url: "/Landlord/GetLandlordAsset",
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    return JSON.stringify({
                        LandlordIds: assetLandlordIdsList
                    });
                },
                dataSrc: "",
                error: function (xhr, error, thrown) {
                    console.error("Error occurred: ", error, thrown);
                    alert("An error occurred while loading the data table: " + error);
                }
            },
            initComplete: function () {

            },
            order: [[0, "asc"]],
            columns: [
                { data: "BuildingNo" },
                { data: "BuildingName" },
                { data: "Country" },
                { data: "State" },
                { data: "City" },
                { data: "Zipcode" },
                {
                    data: null,
                    render: (data, type, row) => {
                        const { OwnerFirstName, OwnerLastName } = data;
                        return `${OwnerFirstName} ${OwnerLastName}`;
                    }
                },
            ]
        });
        console.log("loadAssetLandlordDataTable")

    }

</script>