@using PMS_PropertyHapa.Models.DTO;
@model TenantModelDto
@{
    ViewData["Title"] = "Tenants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tenants</h1>
<a href="/Tenant/AddTenant" class="btn btn-primary mb-3">Add New Tenant</a>

<table id="tenantsTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function () {
            debugger
            var tenantId = localStorage.getItem('userId');
            var ajaxUrl = `/Tenant/GetTenant/?tenantId=${encodeURIComponent(tenantId)}`;
        $('#tenantsTable').DataTable({
                "ajax": {
                    "url": ajaxUrl,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "EmailAddress", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                {
                    "data": "tenantId",
                    "render": function (data, type, row) {
                        return `<button onclick="editTenant(${row.TenantId})" class="btn btn-success edit-tenant">Edit</button>
                <button data-tenant-id="${row.TenantId}" class="btn btn-danger delete-tenant">Delete</button>`;
                    },

                    "orderable": false
                }

                ],
                "language": {
                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });


    function updateTenant(tenantId) {
        window.location.href = `/Tenant/AddTenant?tenantId=${tenantId}`;
    }

    $('#tenantsTable').on('click', '.delete-tenant', function () {
        var tenantId = $(this).data('tenant-id');
        deleteTenant(tenantId);
    });
</script>
<script>



    function deleteTenant(tenantId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Once deleted, you will not be able to recover this tenant!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/Tenant/Delete/?tenantId=${encodeURIComponent(tenantId)}`,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            $('#tenantsTable').DataTable().ajax.reload();
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                        } else {
                            Swal.fire(
                                'Error!',
                                'There was an issue deleting your tenant.',
                                'error'
                            );
                        }
                    },
                    error: function () {
                        Swal.fire(
                            'Error!',
                            'There was an issue deleting your tenant.',
                            'error'
                        );
                    }
                });
            }
        });
    }




</script>
<script>
    function editTenant(tenantId) {
        window.location.href = `/Tenant/EditTenant?tenantId=${tenantId}`;
    }
</script>
