
@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12">
                    <h3>Bank Deposit</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Bank Deposit</li>
                        <li class="breadcrumb-item active">list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-xl-12 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">

                        <div class="left-side-header">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2753 2.71436C16.0029 2.71436 19.8363 6.54674 19.8363 11.2753C19.8363 16.0039 16.0029 19.8363 11.2753 19.8363C6.54674 19.8363 2.71436 16.0039 2.71436 11.2753C2.71436 6.54674 6.54674 2.71436 11.2753 2.71436Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8987 18.4878C20.6778 18.4878 21.3092 19.1202 21.3092 19.8983C21.3092 20.6783 20.6778 21.3097 19.8987 21.3097C19.1197 21.3097 18.4873 20.6783 18.4873 19.8983C18.4873 19.1202 19.1197 18.4878 19.8987 18.4878Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </g>
                                    </svg>

                                </span>
                                <input class="form-control" type="text" id="searchInput" placeholder="Search Deposit" aria-label="search" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="right-side-header">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bankDepositModal">
                                Bank Deposit
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="tableHeaderbg">Depositor</th>
                                        <th scope="col" class="tableHeaderbg">Start Date</th>
                                        <th scope="col" class="tableHeaderbg">End Date</th>
                                        <th scope="col" class="tableHeaderbg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- The Modal -->
    <div class="modal fade" id="bankDepositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bank Deposit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="depositAccount">Deposit Account</label>
                            <select class="form-control" id="depositAccount">
                                <option selected disabled>Select Account</option>
                                <option>Operating Account 1</option>
                                <option>Operating Account 2</option>
                                <option>Operating Account 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="transferDate">Transfer Date</label>
                            <input type="date" class="form-control" id="transferDate">
                        </div>
                        <div class="form-group">
                            <h3>Deposit Details for Operating Account 2</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Item</th>
                                            <th>Date</th>
                                            <th>Property-Unit</th>
                                            <th>Received From</th>
                                            <th>Payment Method</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           @*  <td><input type="checkbox" checked></td>
                                            <td>Payment</td>
                                            <td>3/29/2024</td>
                                            <td>8765 South Dixie Highway (Section 8) > 100</td>
                                            <td>Section 8 (Tenant)</td>
                                            <td>EFT</td>
                                            <td>$300.00</td> *@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 for="otherDepositItems">Other Deposit Items</h3>
                            <div id="lineItemsContainer">
                                <div class="lineItems">
                                    <div class="items">
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="property">Property</label>
                                                    <select class="form-control property">
                                                        <option selected disabled>Select Property</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="unit">Unit</label>
                                                    <select class="form-control unit">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="category">Category</label>
                                                    <select class="form-control category">
                                                        <option selected disabled>Select Category</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <input type="text" class="form-control description" placeholder="Description">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="depositAmount">Amount</label>
                                                    <input type="number" class="form-control depositAmount">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="paymentMethod">Payment Method</label>
                                                    <select class="form-control paymentMethod">
                                                        <option selected disabled>Payment Method</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="reference">Reference</label>
                                                    <input type="text" class="form-control reference" placeholder="Reference">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="receivedFrom">Received From</label>
                                                    <select class="form-control receivedFrom">
                                                        <option selected disabled>Received From</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <a onclick="removeItem(this);" style="cursor: pointer;">
                                                <i class="fa fa-trash"></i> Remove
                                            </a>
                                        </div>
                                        <input type="hidden" class="depositLineItemId" name="depositLineItemId" value="">
                                    </div>
                                </div>
                            </div>   
                            <div class="align-self-end">
                                <div class="mb-3">
                                    <a id="addLineItemButton" style="cursor: pointer;">
                                        <i class="fa fa-plus-circle"></i>Add Line Item
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Memo -->
                        <div class="mb-3">
                            <a id="memoButton" style="cursor: pointer;">
                                <i class="fa fa-pencil"></i> Add Memo
                            </a>
                        </div>
                        <div id="memoArea" class="form-group d-none">
                            <label for="memoTextarea">Memo</label>
                            <textarea class="form-control" id="memoTextarea" rows="3"></textarea>
                        </div>
                        
                        
                        <div class="mb-3">
                            <label for="documentFile" class="form-label">Document Upload</label>
                            <input type="file" class="form-control" id="documentFile" name="documentFile" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="printDepositSlip">
                            <label for="printDepositSlip">Print Deposit Slip</label>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add a new Line Item
        $('#addLineItemButton').on('click', function (event) {
            event.preventDefault();
            addLineItem();
        });

        // Toggle Memo Area
        $('#memoButton').on('click', function () {
            $("#memoArea").removeClass("d-none");
        });

        // populateDropDown();

        // $('.property').on('change', function () {
        //     if ($(".property").val() != null) {
        //         populateUnits($(".property").val());
        //     } else {
        //         $(".unit").empty();
        //     }
        // });

        populateDropDown();

        // Use delegation for dynamically added elements
        $('#lineItemsContainer').on('change', '.property', function () {
            var intPropertyId = Number($(this).val());
            var unitSelect = $(this).closest('.row').find('.unit');
            populateUnits(intPropertyId, unitSelect);
        });

        // // Event delegation for dynamically added elements
        // $('#lineItems').on('change', '.category', function () {
        //     var intPropertyId = Number($(this).val());
        //     var unitSelect = $(this).closest('.row').find('.unit');
        //     fillUnitDll(intPropertyId, unitSelect);
        // });

    });

    function addLineItem() {
        var newLineItem = `<div class="lineItems">
                                <div class="items">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="property">Property</label>
                                                <select class="form-control property">
                                                    <option selected disabled>Select Property</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="unit">Unit</label>
                                                <select class="form-control unit">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="category">Category</label>
                                                <select class="form-control category">
                                                    <option selected disabled>Select Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <input type="text" class="form-control description" placeholder="Description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="depositAmount">Amount</label>
                                                <input type="number" class="form-control depositAmount">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="paymentMethod">Payment Method</label>
                                                <select class="form-control paymentMethod">
                                                    <option selected disabled>Payment Method</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="reference">Reference</label>
                                                <input type="text" class="form-control reference" placeholder="Reference">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="receivedFrom">Received From</label>
                                                <select class="form-control receivedFrom">
                                                    <option selected disabled>Received From</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <a onclick="removeItem(this);" style="cursor: pointer;">
                                            <i class="fa fa-trash"></i> Remove
                                        </a>
                                    </div>
                                    <input type="hidden" class="depositLineItemId" name="depositLineItemId" value="">
                                </div>
                            </div>`;
        $('#lineItemsContainer').append(newLineItem);
        // Populate the property dropdown for the new line item
        populateDropDown();
    }

    function removeItem(element) {
        $(element).closest('.items').remove();
    }

    // function populateUnits(propertyId, selectedUnits) {
    //     $.ajax({
    //         url: '/Lease/ByProperty',
    //         method: 'GET',
    //         data: { propertyId: propertyId },
    //         success: function (units) {
    //             var $depositUnits = $('.unit');
    //             $depositUnits.empty();
    //             units.forEach(function (unit) {
    //                 var option = `<option value="${unit.UnitId}">${unit.UnitName}</option>`;
    //                 $depositUnits.append(option);
    //             });

    //             // Check if selectedUnits is provided and mark options as selected
    //             if (selectedUnits && selectedUnits.length > 0) {
    //                 selectedUnits.forEach(function (unitId) {
    //                     $depositUnits.find('option[value="' + unitId + '"]').prop('selected', true);
    //                 });
    //             }
    //         },
    //         error: function (error) {
    //             console.error('Error fetching units:', error.responseText || 'Unknown error');
    //         }
    //     });
    // }

    function populateUnits(propertyId, $unitDropdown, selectedUnits) {
        $.ajax({
            url: '/Lease/ByProperty',
            method: 'GET',
            data: { propertyId: propertyId },
            success: function (units) {
                $unitDropdown.empty();
                units.forEach(function (unit) {
                    var option = `<option value="${unit.UnitId}">${unit.UnitName}</option>`;
                    $unitDropdown.append(option);
                });

                // Check if selectedUnits is provided and mark options as selected
                if (Array.isArray(selectedUnits) && selectedUnits.length > 0) {
                    selectedUnits.forEach(function (unitId) {
                        $unitDropdown.find('option[value="' + unitId + '"]').prop('selected', true);
                    });
                }
            },
            error: function (error) {
                console.error('Error fetching units:', error.responseText || 'Unknown error');
            }
        });
    }


    
    function populateDropDown() {
        $.ajax({
            url: '@Url.Action("GetProperties", "Communication")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var PropertyDropdown = document.querySelector('.property'); // Use querySelector for class
                data.forEach(function (item) {
                    var option = new Option(item.BuildingNo + " - " + item.BuildingName, item.AssetId);
                    PropertyDropdown.appendChild(option);
                });
            }
        });
    }

</script>