@using PMS_PropertyHapa.Staff.Services
@using PMS_PropertyHapa.Staff.Services.IServices
@using System.Security.Claims
@using static PMS_PropertyHapa.Shared.Enum.SD
@{
    ViewData["Title"] = "ViewApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var userId = ViewBag.UserId as string;
}
@inject IPermissionService _permissionService;
@{
    var currentUserId = Context.Request.Cookies["userId"];
    bool addApplicationPermission = await _permissionService.HasAccess(currentUserId, (int)UserPermissions.AddApplication);
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Application</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Application</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-xl-12 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        @if (addApplicationPermission)
                        {
                            <div class="right-side-header">
                                <a href="@Url.Action("AddApplication", "Applications", new { id = userId })" class="btn btn-success">Add Application</a>
                            </div>
                        }
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center display" id="applicationsTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="tableHeaderbg">Applicant Name</th>
                                        <th scope="col" class="tableHeaderbg">Contact Info</th>
                                        <th scope="col" class="tableHeaderbg">Expected Move In</th>
                                        <th scope="col" class="tableHeaderbg">Created At</th>
                                        <th scope="col" class="tableHeaderbg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#applicationsTable').DataTable({
            "ajax": {
                "url": "/Applications/GetApplications", 
                "type": "GET",
                "dataSrc": "",
                //success: function (res) {console.log(res) },
            },
            "columns": [
                {
                    "data": null,
                    "className": "text-center tableFontSize align-middle",
                    "render": function (data, type, row, meta) {
                        return `${row.FirstName} ${row.LastName}`;
                    }
                },
                {
                    "data": null,
                    "className": "text-center tableFontSize align-middle",
                    "render": function (data, type, row, meta) {
                        return `
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <i class="icofont icofont-email"></i>
                                <span style="vertical-align: middle;">${row.Email}</span>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <i class="icofont icofont-phone"></i>
                                <span style="vertical-align: middle;">${row.PhoneNumber}</span>
                            </div>
                        `;
                    }
                },
                {
                    "data": "MoveInDate",
                    "className": "text-center tableFontSize align-middle",
                    "render": function (data, type, row, meta) {
                        return new Date(data).toLocaleDateString(); 
                    }
                },
                {
                    "data": "AddedDate",
                    "className": "text-center tableFontSize align-middle",
                    "render": function (data, type, row, meta) {
                        return new Date(data).toLocaleDateString(); 
                    }
                },
                {
                    "className": "text-center tableFontSize align-middle",
                    "data": "ApplicationId",
                    "render": function (data, type, row, meta) {
                        return `
                            <div class="dropdown-basic">
                                <div class="dropdown">
                                    <div class="btn-group mb-0">
                                        <button class="dropbtn btn btn-success" type="button">Action <span><i class="icofont icofont-arrow-down"></i></span></button>
                                        @if(addApplicationPermission){
                                            <div class="dropdown-content">
                                                <a class="btn btn-secondary me-1" onclick="editApplications(${data})">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-secondary" onclick="deleteApplications(${data})">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        `;
                    }
                }
            ]
        });
    });

    function deleteApplications(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this Application!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("DeleteApplication", "Applications")',
                    type: 'POST',
                    data: { id: id },
                    success: function (task) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Application deleted successfully',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        });
                    },
                });
            }
        });
    }

    function editApplications(id) {
        window.location.href = "/Applications/EditApplication/" + id
    }
</script>
