@using PMS_PropertyHapa.Models.DTO
@model IEnumerable<AccountSubTypeDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Account Sub Type</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Accounting/Index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Account Sub Type</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <!-- Column 1: Properties Table (80% on lg screens) -->
            <div class="col-xl-12 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="right-side-header">
                            <button class="btn btn-success" id="newAccountSubTypeBtn">Add Sub Account</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center display" id="accountSubTypeTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="text-center tableHeaderbg">Sub Account Type</th>
                                        <th scope="col" class="text-center tableHeaderbg">Account Type</th>
                                        <th scope="col" class="text-center tableHeaderbg">Description</th>
                                        <th scope="col" class="text-center tableHeaderbg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newAccountSubTypeModal" tabindex="-1" aria-labelledby="accountSubTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountSubTypeModalLabel">New Sub Account Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="accountSubTypeForm">
                <input type="hidden" value="" id="accountSubTypeId" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="accountTypeName" class="form-label">Account Type *</label>
                        <select class="form-control select2" id="accountTypeName" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="accountSubTypeName" class="form-label">Account Type *</label>
                        <input type="text" class="form-control" name="accountSubTypeName" id="accountSubTypeName" placeholder="Sub Account Type Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="accountSubTypeDescription" class="form-label">Description *</label>
                        <input type="text" class="form-control" name="accountSubTypeDescription" id="accountSubTypeDescription" placeholder="Description" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" id="saveBtn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script>
    $(document).ready(function () {

        $('#accountSubTypeTable').DataTable({
            "ajax": {
                "url": "/AccountSubType/GetAccountSubTypes",
                "type": "GET",
                "dataSrc": ""
            },
            "columns": [
                {
                    "data": "Type",
                    "className": "text-center"
                },
                {
                    "data": "AccountType",
                    "className": "text-center"
                },
                {
                    "data": "Description",
                    "className": "text-center"
                },
                {
                    "className": "text-center",
                    "data": "AccountSubTypeId",
                    "render": function (data, type, row, meta) {
                        return `
                            <div class="dropdown-basic">
                                <div class="dropdown">
                                    <div class="btn-group mb-0">
                                        <button class="dropbtn btn btn-success" type="button">Action <span><i class="icofont icofont-arrow-down"></i></span></button>
                                        <div class="dropdown-content">
                                            <a class="btn btn-secondary" onclick="editAccountSubType(${data})">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <a class="btn btn-secondary" onclick="deleteAccountSubType(${data})">
                                                <i class="fa fa-trash"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    }
                }
            ]
        });

        populateDropDown();

        $("#newAccountSubTypeBtn").on("click", function () {
            resetModal();
            $("#accountSubTypeModalLabel").html("New Account Sub Type");
            $("#newAccountSubTypeModal").modal('show');
        });

        $('#accountSubTypeForm').on('submit', function (event) {
            event.preventDefault();

            var formData = {
                AccountSubTypeId: Number($('#accountSubTypeId').val()),
                AccountTypeId: Number($('#accountTypeName').val()),
                Type: $('#accountSubTypeName').val(),
                Description: $('#accountSubTypeDescription').val(),
            };

            $.ajax({
                url: '@Url.Action("SaveAccountSubType", "AccountSubType")',
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                beforeSend: function () {
                    $('#saveBtn').prop('disabled', true).text('Saving...');
                },
                success: function (response) {
                    $("#newAccountSubTypeModal").modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Failed to save data');
                },
                complete: function () {
                    $('#saveBtn').prop('disabled', false).text('Save');
                }
            });
        });
    });


    function populateDropDown() {
        $.ajax({
            url: '@Url.Action("AccountTypeDll", "AccountType")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var accountTypeDropdown = document.getElementById('accountTypeName');
                // accountTypeDropdown.innerHTML = ''; // Clear existing options
                data.forEach(function (item) {
                    var option = new Option(item.Type, item.AccountTypeId);
                    accountTypeDropdown.appendChild(option);
                });
            }
        });
    }

    function resetModal() {
        $("#newAccountSubTypeModal form")[0].reset();
        $('select').each(function () {
            $(this).val($(this).find('option[selected]').val());
        });
        $('.select2').val(null).trigger('change');
    }

    function deleteAccountSubType(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this Sub Account Type!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("DeleteAccountSubType", "AccountSubType")',
                    type: 'POST',
                    data: { id: id },
                    success: function (res) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Sub Account Type deleted successfully',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        });
                    },
                });
            }
        });
    }

    function editAccountSubType(id) {
        $.ajax({
            url: '@Url.Action("GetAccountSubTypeById", "AccountSubType")',
            type: 'POST',
            data: { id: id },
            success: function (res) {
                $("#accountSubTypeModalLabel").html("Edit Account Sub Type");
                $("#accountTypeName").val(res.AccountTypeId).trigger("change");
                $("#accountSubTypeId").val(res.AccountSubTypeId);
                $("#accountSubTypeName").val(res.Type);
                $("#accountSubTypeDescription").val(res.Description);
                $("#newAccountSubTypeModal").modal('show');
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('Failed to retrieve data');
            },
        });
    }
</script>