@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@using PMS_PropertyHapa.Admin.Data;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <!-- Page Title and Breadcrumbs -->
    </div>
    <div class="container-fluid default-dash">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card profile-greeting">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="greeting-user">
                                    <h1 id="greetingUserName">Hello</h1>
                                    <p>Welcome back, your dashboard is ready!</p>
                                </div>
                            </div>
                        </div>
                        <div class="cartoon-img">
                            <img id="organizationLogo" class="img-fluid" src="~/Dashboard/assets/images/images.svg" alt="Organization Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Fetch organization name and logo from localStorage
            var organizationName = localStorage.getItem('organizationName');
            var organizationLogo = localStorage.getItem('organizationLogo');

            // Update the greeting text with the organization name if available
            if (organizationName) {
                document.getElementById('greetingUserName').textContent = `Hello, ${organizationName}`;
            }

        if (organizationLogo) {
            // Remove quotes from the start and end of the organizationLogo
            var cleanedOrganizationLogo = organizationLogo.slice(1, -1);
            var fullLogoUrl = `https://localhost:7220/wwwroot/uploads/${cleanedOrganizationLogo}`;
            document.getElementById('organizationLogo').setAttribute('src', fullLogoUrl);
        }


        });
    </script>

