@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*         <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row justify-content-center" id="subscription-container">
                <!-- Subscription blocks will be dynamically inserted here -->
            </div>
        </div> *@


<div class="container mt-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <h6 class="text-center" style="padding-top: 12px;">Number of Units</h6>
        </div>
        <div class="col-auto">
            <input class="form-control form-control-sm" value="1"  id="units" type="number" name="units" placeholder="Number of Units" style="max-width: 200px;">
        </div>
        <div class="col-auto">
            <div class="d-flex align-items-center">
                <span class="me-2">Monthly</span>
                <label class="switch">
                    <input type="checkbox" id="planSelection">
                    <span class="switch-state"></span>
                </label>
                <span class="ms-2">Yearly</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center" id="monthly-container">
        <!-- Monthly Subscription blocks will be dynamically inserted here -->
    </div>
    <div class="row justify-content-center d-none" id="yearly-container">
        <!-- Yearly Subscription blocks will be dynamically inserted here -->
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {

        $('#units').on('input', handleUnitsChange);

        loadSubscriptions();

        // Handle dynamic click events
        $('#subscription-container').on('click', '.subscribe-btn', function () {
            const subscriptionId = $(this).data('id');

            if (isFree) {
                window.location.href = '/Auth/Register'; 
            } else {
               
                Swal.fire({
                    icon: 'success',
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    toast: true,
                    width: '300px',
                    padding: '0.5rem',
                    title: 'Processing your Subscription.'
                });
            }
        });

        $('#planSelection').change(function () {
            if ($(this).prop('checked')) {
                $('#monthly-container').addClass('d-none');
                $('#yearly-container').removeClass('d-none');
            } else {
                $('#monthly-container').removeClass('d-none');
                $('#yearly-container').addClass('d-none');
            }
        });

    });

    function handleUnitsChange() {
        const units = $('#units').val();
        $('.pricing-block').each(function () {
            const priceElement = $(this).find('.price-box h4');
            const basePrice = parseFloat(priceElement.data('basePrice'));
            let newPrice = basePrice * units;

            // Additional condition to adjust price based on subscription name
            const subscriptionName = $(this).find('h2').text().trim();
            if (subscriptionName === 'Basic') {
                newPrice *= 1;
            } else if (subscriptionName === 'Plus') {
                newPrice *= 0.75;
            } else if (subscriptionName === 'Premium') {
                newPrice *= 0.5;
            }

            priceElement.text('$' + newPrice.toFixed(2));

            const unitsElement = $(this).find('.unitsBlock');
            unitsElement.text(units);
        });
    }

    function loadSubscriptions() {
        $.ajax({
            url: '/Subscription/GetAllSubscriptions',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.success && Array.isArray(response.data)) {
                    const monthlyContainer = $('#monthly-container');
                    const yearlyContainer = $('#yearly-container');

                    response.data.forEach(sub => {
                        const subscriptionBlock = createSubscriptionBlock(sub);
                        if (sub.SubscriptionType === 'Monthly') {
                            monthlyContainer.append(subscriptionBlock);
                        } else if (sub.SubscriptionType === 'Yearly') {
                            yearlyContainer.append(subscriptionBlock);
                        }
                    });
                } else {
                    console.error('Failed to load subscriptions:', response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error('An error occurred while fetching subscriptions:', error);
            }
        });
    }


    function createSubscriptionBlock(subscription) {
        return `
            <div class="col-xl-3 col-sm-6 xl-50 box-col-6">
                <div class="pricing-block card text-center">
                    <div class="pricing-header">
                        <h2>${subscription.SubscriptionName}</h2>
                        <div class="price-box">
                            <div>
                                <h4 class="text-white" data-base-price="${subscription.Price.toFixed(2)}">$${subscription.Price.toFixed(2)} ${subscription.Currency}</h4>
                                <p>/ ${subscription.SubscriptionType}</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-list">
                        <ul class="pricing-inner">
                            <li>
                                        <h6><span class="unitsBlock">${subscription.NoOfUnits}</span> Units</h6>
                            </li>
                            <li>
                                <h6>${subscription.SmallDescription}</h6>
                            </li>
                            <li>
                                <h6>${subscription.Tax}%<span> Tax</span></h6>
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-lg" onclick="handleSubscriptionClick(${subscription.Price}, '${subscription.Id}', '${subscription.SubscriptionName}')" type="button">Get Started</button>
                    </div>
                </div>
            </div>`;
    }


    function handleSubscriptionClick(price, id, name) {
        //window.location.href = `/Auth/Register?subscription=${encodeURIComponent(name)}&id=${encodeURIComponent(id.toString())}`;
        window.location.href = `/Auth/Register`;

        // if (price === 0) {
        //     window.location.href = `/Auth/Register?subscription=${encodeURIComponent(name)}&id=${encodeURIComponent(id.toString())}`;
        // } else {
            
        //     Swal.fire({
        //         icon: 'info',
        //         title: 'Proceed to Payment',
        //         text: 'Please proceed to payment to complete your subscription.',
        //         confirmButtonText: 'Ok'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             window.location.href = `/Auth/Register?subscription=${encodeURIComponent(name)}&id=${encodeURIComponent(id.toString())}`;
        //         }
        //     });
        // }
    }
</script>