@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@using PMS_PropertyHapa.Admin.Data;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <!-- Page Title and Breadcrumbs -->
    </div>
    <div class="container-fluid default-dash">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card profile-greeting">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="greeting-user">
                                    <h1>Hello</h1>
                                    <p>Welcome back, your dashboard is ready!</p>
                                </div>
                            </div>
                        </div>
                        <div class="cartoon-img">
                            <img class="img-fluid" src="~/Dashboard/assets/images/images.svg" alt="Organization Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  

