@{
    ViewData["Title"] = "Tenant Portal";
}
<section class="landing-home" id="home" style="height: 50vh;margin-bottom: 0px !important;margin-top: 90px !important;">
    <img class="img-fluid bg-img-cover" src="~/Dashboard/assets/images/building.jpg" alt="">
    <div class="custom-container">
        <div class="row">
            <div class="col-12">
                <div class="landing-home-contain">
                    <div class="d-flex h-50 w-100 ">
                        <div class="w-25 h-50 leftSectionBannar"></div>
                        <div class="w-75 d-flex h-50 rightSectionBannar">
                            <div class="">
                                <div class="welcomBanner textWrapp">Welcome One</div>
                                <div class="cradittext mt-2 textWrapp">Cradit Available</div>
                                <div class="moneyText mt-2 textWrapp">$ 1,000.00</div>
                                <div class="mt-2 fw-light textWrapp">
                                    You next rent of
                                    <span class="fw-bold ">$ 2,100.00</span>
                                    is due on
                                    <span class="fw-bold ">4/8/2023</span>
                                </div>
                                <div class="mt-2 fw-light textAlignment textWrapp">
                                    16182 RIO BAIL / HOUSE 2
                                </div>
                            </div>
                            <div class="d-flex align-items-end gap-2 InfobutonWrapper">
                                <button class="btn btn-light Cutombuttons">Setup auto-pay</button>
                                <button class="btn btn-primary Cutombuttons">Make a Payment</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="textdiv w-100 h-100 d-flex justify-content-center align-items-center ">
    <div class="ReadMoreWrappar d-flex">
        <div class="d-flex justify-content-between align-items-center p-3 w-100">
            <img src="~/Dashboard/assets/images/message-icon.svg" style="width: 30px; height: 30px;" />
            <div class="w-50">
                <div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #9e9ed8;">
                    <span class="fw-bold ">One Love</span>
                    <span class="fw-bold">21-11-2022</span>
                </div>
                <div class="m-1">
                    <span>Let's get togather and feel alright</span>
                </div>
            </div>
            <button class="btn btn-dark">
                Read more
            </button>
        </div>
    </div>
</div>




<!-- landing home end-->
<!-- demo section start-->
<section class="demo-section section-py-space" id="dashboard">

    <div class="custom-container">
        <div class="row demo-block">
            <div lass="col-lg-3 col-md-6 wow pulse"></div>
            <div class="col-lg-3 col-md-6 wow pulse">
                <div class="demo-box">
                    <div class="img-wrraper bannarSetup">
                        <img class="img-fluid" src="~/Dashboard/assets/images/autoPay.png" alt="" style="width: 70px">
                        <h5 class="mt-1 ">AutoPay is active</h5>
                        <p>You have 1 active auto-pay for this lease</p>
                        <button class="btn btn-dark">Setup Auto-Pay</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow pulse">
                <div class="demo-box">
                    <div class="img-wrraper bannarSetup">
                        <img class="img-fluid" src="~/Dashboard/assets/images/insurence.png" alt="" style="width: 60px">
                        <h5 class="mt-1 ">You Are Insured</h5>
                        <p>Insurence R Us</p>
                        <button class="btn btn-dark">Get Insurence</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow pulse">
                <div class="demo-box">
                    <div class="img-wrraper bannarSetup">
                        <img class="img-fluid" src="~/Dashboard/assets/images/request.png" alt="" style="width: 70px">
                        <h5 class="mt-1 ">Requests</h5>
                        <p>You have 50 active requests for this lease</p>
                        <button class="btn btn-dark">New Request</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>